/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */






body {
  background-color: #FBF7ED;
  color: #004C3F;
}

h1, h4 {
  padding-left: 20px;
}

input[type=text] {
  width: 90%;
  height: 35px;
  text-indent: 30px;
  color: #212326;
  font-size: 1em;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  transition: padding 150ms;
  -webkit-appearance: none;
  appearance: none;
}

span {
  display: inline;
}

.noms-header {
  background-color: #004C3F;
  color: #FBF7ED;
  padding: 5px 5px 5px 0px;
}

.search-bar {
  position: relative;
  width: 100%;
  text-align:center;
}

.search-bar span {
  position: absolute;
  left: 2px;
  margin-left: 20px;
  padding-top: 7px;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  left: 2px;
}

.search-result-mobile {
  width: 90%;
  height: 35px;
  margin: 20px 20px 0px 20px;
  color: #212326;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  transition: padding 150ms;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
}

.search-result-mobile span {
  position: absolute;
  right: 30px;
  margin-top: 5px;
}

.movie-title-mobile {
  color: #004C3F;
  margin-top: 5px;
  margin-left: 5px;
  width: 85%;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.movie-year-mobile {
  color: #004C3F;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 40px;
}